<body>
<h1 class="col-12 d-flex justify-content-center" style="color: rgb(87, 59, 7) ; font-size: 45px; margin: 3%;">EM BUSCA DE UM SONHO.</h1>

  <div class="cont container">
    <div class="row">
      <div class="content col-md-8 col-sm-12">
        <div class="col-12">
          <p class="a1">
            Eu tenho um sonho: me tornar um desenvolvedor sênior de sucesso. Com minha determinação e autodidatismo, eu
            me especializo em várias tecnologias, incluindo Spring, Angular, Atlasdb e AWS.
            Agora, estou em busca de uma oportunidade para colocar minhas habilidades em prática e seguir em frente em minha jornada
            profissional.
          </p>
        </div>
        <div class="col-12">
          <p class="a2">O que eu trago para a mesa? Além de minha paixão pela programação e resolução de problemas, eu sou um
            colaborador engajado que valoriza o trabalho em equipe. Estou pronto para enfrentar desafios e crescer em uma empresa que
            reconheça meu talento e esforço.</p>
        </div>
        <div class="col-12">
          <p class="a3">Se você está em busca de um programador Junior altamente motivado, não precisa procurar mais.
            Eu sou a escolha certa para ajudar sua empresa a alcançar seus objetivos e também realizar meu sonho.
            Vamos trabalhar juntos e começar essa jornada hoje mesmo!"
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <img src="/assets/content/astroLendo.png" alt="Astronalta">
      </div>
    </div>
  </div>

  <h1 class="col-12 d-flex justify-content-start" style="color: rgb(87, 59, 7) ; font-size: 35px; margin: 3%;">
    "A persistência realiza o impossível".
  </h1>

  <div class="cont container">
    <div class="row">
      <div class="content sol-sm-12 col-md-6">
        <div class="col-sm-12">
          <p>Se sua empresa está buscando um profissional altamente motivado, eu sou a escolha certa para ajudar a
            alcançar seus objetivos. O que mais me motiva é a possibilidade de trabalhar com uma equipe talentosa e
            aprender com ela.
          </p>
        </div>
        <div class="col-sm-12">
          <p>
            Estou pronto para trabalhar duro para ajudar sua empresa a resolver problemas e alcançar seus objetivos. Posso contribuir com
            minha habilidade autodidata para aprender rapidamente e me adaptar às necessidades de sua equipe. Sou um colaborador comprometido
            e dedicado em oferecer soluções inovadoras.
          </p>
        </div>
      </div>
      <div class="content col-sm-12 col-md-6">
        <p>
          Então, se você está procurando por um desenvolvedor comprometido e motivado, que está pronto para aprender e crescer com sua
          equipe, você encontrou a pessoa certa. Vamos trabalhar juntos para fazer grandes coisas.
        </p>
        <div class="col-md-12">
          <img src="/assets/content/astro.png" alt="Astronalta">
        </div>
      </div>
    </div>
  </div>

</body>
