<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>

<h1 style="color: #0e2230; font-size: 35px; margin: 1.5%;" class="col-12 d-flex justify-content-center">Uma breve história</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 com-md-6">
        <img class="img" src="/assets/logo.png" alt="Astronalta">
      </div>
      <div class="col-12 col-sm-6 col-md-6">
        <span class="content col-12">
          <p >Olá! Meu nome é Rafael Sanches e sou um profissional autodidata em programação.
            Minha paixão por tecnologia e desenvolvimento de software me levou a explorar diferentes
            tecnologias e recursos por conta própria, e hoje me sinto preparado para enfrentar os mais
            desafiadores projetos.
          </p>
        </span>
        <span class="content col-12">
          <p >Estou sempre em busca de novas oportunidades de aprendizado e desafios que me permitam expandir
            meu conhecimento e aprimorar minhas habilidades. Meu comprometimento em oferecer soluções inovadoras e de
            alta qualidade é o que me permite contribuir de forma significativa para qualquer projeto em que
            eu esteja envolvido.
          </p>
        </span>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 com-md-6">
      <span class="content col-12">
        <p >Acredito que a melhor maneira de alcançar o sucesso é através do trabalho duro, da determinação e do comprometimento com a
          excelência. Sei que tenho muito a aprender e estou sempre aberto a novas ideias e perspectivas. Estou ansioso para fazer parte de uma
          equipe dinâmica e colaborativa que valorize o compromisso com a qualidade e o trabalho em equipe.
        </p>
      </span>
      <span class="content col-md-6 col-sm-12">
        <p >Estou animado para explorar novas oportunidades e contribuir para o crescimento e sucesso de uma equipe de programação. Obrigado por
          me dar a oportunidade de me apresentar, e espero ter a oportunidade de trabalhar com você em breve!
        </p>
      </span>
    </div>
    <div class="col-md-6 col-sm-6">
      <img class="img" src="/assets/content/astro.png" alt="Astronalta">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="content col-sm-12 col-md-5">
      <span class="col-12">
        <p>Além disso, tenho uma família maravilhosa que é a minha maior inspiração e motivação. Sou casado e pai de três filhos, e eles são a minha maior fonte de
          alegria e orgulho. Com eles ao meu lado, sou capaz de enfrentar qualquer desafio e superar qualquer obstáculo.
        </p>
      </span>
      <span class="col-12">
        <p>Em relação aos meus estudos, tenho o ensino médio completo e estou participando de um processo seletivo para um curso superior de Engenharia de Software.
          Estou determinado a expandir meus conhecimentos e aprimorar minhas habilidades para me tornar um profissional ainda mais capacitado e competente.
        </p>
        <div class="col-12 d-flex justify-content-center">
          <img class="img" src="/assets/content/astroLendo.png" alt="Astronalta">
        </div>
      </span>
    </div>
    <div class="content col-sm-12 col-md-5">
      <span class="col-12">
        <p>Atualmente, ajudo um amigo em alguns projetos da empresa dele. Embora ainda seja um DEV JÚNIOR, estou sempre empenhado em aprimorar minhas habilidades e
          expandir meus conhecimentos. Com minha força de vontade e comprometimento, tenho certeza de que serei capaz de alcançar meu objetivo de me tornar um desenvolvedor
          sênior altamente qualificado e experiente.
        </p>
        <div class="col-12 d-flex justify-content-center">
          <img class="img" src="/assets/content/astroPei.png" alt="Astronalta">
        </div>
      </span>
      <span class="col-12">
        <p>Estou sempre aberto a novos desafios e oportunidades de aprendizado, e acredito que a melhor maneira de crescer profissionalmente é através da prática e do
          trabalho em equipe. Estou ansioso para explorar novas oportunidades e trabalhar com uma equipe dinâmica e colaborativa que valorize a excelência e a inovação. Obrigado
          por me permitir compartilhar um pouco sobre mim, e espero ter a oportunidade de contribuir para o sucesso da sua equipe em breve!
        </p>

      </span>
    </div>
  </div>
</div>


</body>
