.header{
  background-color: rgb(14, 7, 82);
  align-items: center;
  align-content: center;
  margin: 1%;
}

.icoHeader{
  max-width: 110px;
  color: white;
  padding-right: 15px;
  margin: 2%;
  font-size: 19px;
  font-weight: 200;
}

.icoNav{
  align-items: center;
  margin: 2%;
  color: rgb(66, 62, 6)
}

.footer{
  margin: 0.8%;
  max-width: auto;
  max-height: auto;
  background-color: rgb(79, 70, 177);
  align-content: center;
  align-items: center;
}

.icoFooter{
  max-width: 90px;
  margin-left: 8%;
}

.miniIco{
  max-width: 55px;
}

.txt{
  color: white;
  font-size: 18px;
}
