
.header{
  background-color: #1A4663;
  align-items: center;
  align-content: end;
}

.logo{
  max-width: 100px;
}

.text{
  color: #C2DFF5;
  font-size: 21px;
}

.nav{
  color: #C2DFF5;
  font-size: 20px;
  margin: 2%;
}

.footer{
  background-color: #14242e;
  align-items: center;
  align-content: end;
 .icoF{
  max-width: 75px;
 }
 .miniIco{
  margin: 2%;
  max-width: 40px;
 }
}

