.cont{
  margin: 1.5%;
  margin-top: 2%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2px;

}

.title{
  margin: 2%;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(99, 70, 9);
  margin-top: 5%;
  text-shadow: 0 0 0.2em rgb(250, 222, 163);

}


.ico{
  max-width: 400px;
  margin: 2%;
  animation-name: animation;
  animation-duration: 2s;
  animation-timing-function: ease-in;

}

@keyframes animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}

.bv{
  align-self: center;
  align-items: center;
  margin-bottom: 3%;
  display: flexbox;
  margin-bottom:  3px;


}
