<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>

  <h1 class="col-12 d-flex justify-content-center" style="font-style:oblique; font-size: 35px;color: rgb(99, 70, 9); font-weight: 500; margin-bottom: 5%; margin-top: 2%;">Um pouco da minha tragetória</h1>

<div class="bv container">
  <div class=" row">
  <div class="col-sm-auto col-md-auto">
    <img class="ico" src="assets/content/Arduino.png" alt="Arduino">
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class="title">Meus primeiros projetos foram com Arduino</h1>
    <div class="cont col-sm-12">
      <span>Os meus primeiros projetinhos foram com o arduino, meu primeiro contato com a linguagem,
        de programação. Porém quanto tive meu primeiro computador (Windows98) já começava me apaixonar.
        o fato de dar varios problesmas (tela preta ou azul), já me sentia diferente. Mas quando tive a oportunidade já aos
        16 anos, comprei mei primeiro arduino. Me lembro de um projetinho que fiz para regar minhas platinhas, desde então procurei estudar
        mais as tecnologias.
      </span>
    </div>
  </div>


  <div class="col-sm-12 col-md-6">
    <h1 class="title">A descoberta do Python</h1>
    <div class="col-sm-12">
      <span class="cont">Na mesma época em que fiz meus primeiros projetinhos no Arduino, eu tive
        o contato com a linguagem Python. Por aqui já me aprofundava mais sobre tabelas e fiz alguns softwares
        para controlar meu arduino. Cheguei a praticar com alguns amigos em projetos escolares, onde aprendi um pouco mais sobre a linguagem.
      </span>
    </div>
  </div>
  <div class="bv col-sm-10 col-md-6">
    <img class="ico" src="assets/content/Python.png" alt="python">
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h5 style="font-size: 55px; color: rgb(13, 85, 31); margin: 10%; font-style:oblique;">Autodidatismo</h5>

  </div>


<div class="container row">
  <div class="bv col-sm-10 col-md-6">
    <img class="ico" src="assets/content/Angular.png" alt="Angular">
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class="title">Angular: Meus estudos de hoje.</h1>
    <div class="col-sm-12">
      <span class="cont">Angular eu descobrir através do meu amigo, ele já trabalha algum tempo e por ter pedido o serviços dele
        foi então que tive este contato. O projeto era simples, precisava de uma plataforma em que eu fornecia uma URL, e o sistema redirecionava com intensão
        de obter rastreio de cliques, assim minhas campanhas poderiam ser mais precisa, pois saberia com certa precisão de qual região os usuários clicaram no link.
        Foi ai que o projeto ficou mais elaborado, e ajudei a concluir a plataforma. Gostei muito da forma que o framework funciona. Foi então que desidir estudar para
        ter a expertise necessária para o desenvolvimento. E cá estou em apaixonado e desidido em trabalhar na área.
      </span>
    </div>
  </div>


  <div class="col-sm-12 col-md-6">
    <h1 class="title">Back-end: Estudos constante.</h1>
    <div class="col-sm-12">
      <span class="cont">Como disse precisava ajudar este meu amigo e comecei a estudar o Angular e o SpringBoot. Desde então venho me esforçando dia a dia,
        como sou autodidata então procuro videoaulas, a documentação e webinar para que possa aprender mais. Tenho colocado em prática os meus conhecimento e
        estou ancioso para trabalhar em um projeto mais complexo e ajudar outras pessoas a alcansar esta experiencia. Atualmente venho trabaljando em estas duas
        linguagens nesta plataforma, minha intenção é que por aqui as pessoas possam acompanhar minha evolução e dar feedback para que possa alcansar o sucesso esperado.
      </span>
    </div>
  </div>
  <div class="bv col-sm-10 col-md-6">
    <img class="ico" src="assets/content/spring.png" alt="python">
  </div>
</div>

<div class="container row" style="padding-bottom: 25px;">
  <div class="bv col-sm-10 col-md-6" >
    <img class="ico" src="assets/content/atlas.png" alt="Angular">
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class="title">Banco de Dados: Dados nosso de cada dia</h1>
    <div class="col-sm-12">
      <span class="cont">Todos os meus projetos eu gosto de utilizar o Atlasdb, eu aprendi usar-lo somente o básico, mas sou aberto
        para poder apreder o funcionamento de outros bancos de dados. Neste projeto que aqui estou desenvolvendo será usado o Atlasdb, pois
        acho o seu usso pratico. Estou adentrando em mais conhecimentos neste assunto para ser mais preciso em meus codigos.
      </span>
    </div>
  </div>
