.bv{
  margin: 2%;
  margin-bottom: 2%;
}

.img{
  max-width: 150px;
  align-content: center;
  align-items: center;
}

.title{
  font-size: 25px;
  color: #2E628C;
  text-align: center;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 8%;
  text-transform: inherit ;
}
